@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700;800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;

}


.ball {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 200px;
}

main {
    background: #151515;
}

.header_player {
    background-image: url(images/header_player.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: left;
    background-position-y: bottom;
    background-color: black;
    padding-bottom: 40vh;
    padding-top: 40vh;
}

.header_player h1 {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;

    text-align: center;
    text-transform: capitalize;
    color: #FF5E19;
    margin: 0;

}

.header_player p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}



.playerList {
    background: #0D0D0D;
}

.playerList h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

.playerList ol {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

.playerBudget {
    padding: 10px;
    margin-top: 50px;
}

.card-bg {
    background: #0D0D0D;

}

.card-bg h5 {
    color: white;
}

.card-bg p {
    color: #B3B3B3;
}

.input-bg {
    background: #0D0D0D;
    color: white;
}

.playerBudget {
    background: #0D0D0D;

}

.playerBudget h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

.playerBudget span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #AFAFAF;
}

.border-bg {
    border: 1px solid #FFFFFF;
    width: 100px;
}

.calculation-btn {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    padding: 5px 80px 5px 80px;
    color: #FFFFFF;
    background: #015196;
}

.money {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}

.total {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #AFAFAF;
}

.totalMoney {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: right;

    color: #FF5E19;

}

ol {
    padding: 25px;
}

li {
    margin-top: 20px;
}

.select-btn {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    background: #015196;
    padding: 5px 80px 5px 80px;
}